*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.SignupDiv{
    background: #040307;
    height: 100vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    padding: 3em;
}
.titleSignup{
    color: #864197;
    margin: 2% 0 4% 0;
    font-size: 3em;
}